a {
  text-decoration: none;
  color: rgb(61, 61, 61);
}

ul {
  list-style: none;
}

/* 占쎄땀�뜮袁㏃쓺占쎌뵠占쎈�� 筌롫뗀�뤀 */

.dropdown_content .dropdown_1st {
	margin: 10px 30px;
}

.dropdown_content .dropdown_2nd {
	margin: 10px 30px;
}

.nav-menu {
  display: flex;
  font-size: 1.1rem;
}

.nav-menu li {
  margin: 0px 35px;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: white;
  width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.implyeement_apply {
  margin: 5px 0px;
}

.volunteer_management {
  margin: 5px 0px;
}

.implyeement_apply:hover {
  font-weight: bold;
  text-decoration: underline;
}

.volunteer_management:hover {
  font-weight: bold;
  text-decoration: underline;
}

li:hover .dropdown_content {
  display: block;
}

.freeboard:hover {
  font-weight: bold;
  text-decoration: underline;
}

.companyinfo:hover {
  font-weight: bold;
  text-decoration: underline;
}

.applyinfo:hover {
  font-weight: bold;
  text-decoration: underline;
}

.companyservice:hover {
  font-weight: bold;
  text-decoration: underline;
}

/* 嚥≪뮄�젃占쎌뵥 占쎌돳占쎌뜚揶쏉옙占쎌뿯 */
.login:hover {
  font-weight: bold;
  text-decoration: underline;
}

.join:hover {
  font-weight: bold;
  text-decoration: underline;
}

/* 筌롫뗄�뵥 �뚢뫂�믭옙�뵠占쎄섐 揶쏄쑨爰� 鈺곌퀣�젟 */
.main-container {
  padding: 50px 20px;
  text-align: center;
  width : 90%;
  max-width: 1200px;
  min-height: 925px;
  height: auto;
  margin: 0 auto;
}

.board-container {
  margin-top: 20px;
}

/* 野껓옙占쎄퉳 野껉퀗�궢 筌롮꼹�뱜 */

.search_contianer {
  width: 80%;
  margin: 0px auto;
}

.search_result {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.search_result div {
	margin-right: 5px;
}


/* 疫꿸퀣毓� 占쎌젟癰귨옙 */
.company {
  width: 80%;
  margin: 0px auto 10px auto;
  font-size: 0.9rem;
}

.company_info_name {
  font-size: 0.9rem;
  font-weight: bold;
}

.company_info_score {
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.company_container {
  width: 80%;
  margin: 0px auto;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
}

.company_info {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.company_info img {
  margin: 2px 5px 0px 5px;
}

.recommend_container {
  border-top: 1px solid rgb(223, 223, 223);
  text-align: center;
  padding: 10px 0px;
}

.recommend_container_ment {
  font-size: 0.9rem;
  font-weight: bold;
}

.recommend_container_good {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 10px;
}

.commit_container {
  border-top: 1px solid rgb(223, 223, 223);
  background-color: rgb(245, 249, 255);
  padding: 10px;
}

.commit_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commit_info_score {
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commit_info_score img{
  margin-left: 5px;
}

.commit_info_nickname {
  font-size: 0.7rem;
  font-weight: bold;
  margin: 5px 0px;
  color: rgb(145, 145, 145);
}

.commit_info_detail {
  font-size: 0.7rem;
  font-weight: bold;
  color: rgb(113, 187, 252);
}

.commit_title {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 5px 0px;
}

.commit_content {
  font-size: 0.8rem;
  color: rgb(145, 145, 145);
  font-weight: bold;
  margin: 5px 0px;
}

/* 筌�袁⑹뒠占쎌젟癰귨옙 */
.apply_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 40px auto 10px auto;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 10px;
}

.apply_title a{
  font-size: 0.75rem;	
}

.apply_list {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.apply_area {
  margin: 0px 34px;
}

.company_logo {
  border: none;
}

.company_name {
  font-size: 0.8rem;
  color: rgb(124, 124, 124);
}

.company_title {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
  padding: 5px 0px;
  white-space: nowrap;          /* �븳 以꾨줈 �몴�떆 */
  overflow: hidden;
  text-overflow: ellipsis;
  width: 164px;
}

.company_score {
  font-size: 0.7rem;
  color: rgb(124, 124, 124);
}

/* 野껊슣�뻻疫뀐옙 (占쎌쁽占쎌�) */
.free_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 40px auto 10px auto;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 10px;
}

.free_title a{
	font-size: 0.75rem;
}

.img_area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.free_count {
  width: 80%;
  margin: 0px auto;
  font-size: 0.8rem;
}

.free_container {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.free_list_container {
  border: 1px solid rgb(223, 223, 223);
  margin: 5px auto;
  width: 400px;
  height: 130px;
  padding: 5px;
}

.free_list_title {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 5px 0px;
}

.free_list_content {
  font-size: 0.8rem;
  margin: 5px 0px;
  white-space: nowrap;          /* 한 줄로 표시 */
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
}

.free_list_nickname {
  font-size: 0.7rem;
  color: rgb(124, 124, 124);
  margin-bottom: 10px;
}

.free_icons_count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.free_icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.free_icons div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  font-size: 0.8rem;
}

.free_icons img{
  margin: 0px 3px;
}

.free_list_rdate {
  font-size: 0.7rem;
  color: rgb(124, 124, 124);
}

