/* 湲곕낯�쟻�쑝濡� dropdown-content�뒗 �닲源� */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    margin: 0;
}

/* �뱶濡��떎�슫 �빆紐� �뒪���씪 */
.dropdown-content li {
    list-style: none;
}

.dropdown-content li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* �뱶濡��떎�슫 �빆紐� �궡�쓽 �씠誘몄� �뒪���씪 */
.menu-icon {
    width: 16px; /* �씠誘몄� �꼫鍮� �꽕�젙 */
    height: 16px; /* �씠誘몄� �넂�씠 �꽕�젙 */
    margin-right: 8px; /* �뀓�뒪�듃�� �씠誘몄� �궗�씠�쓽 媛꾧꺽 */
    vertical-align: middle; /* �뀓�뒪�듃�� �씠誘몄��쓽 �닔吏� �젙�젹 */
}

/* �뱶濡��떎�슫 �빆紐⑹뿉 留덉슦�뒪瑜� �삱�졇�쓣 �븣 諛곌꼍 �깋 蹂�寃� */
.dropdown-content li a:hover {
    background-color: #f1f1f1;
    color: #333;
}

/* 留덉슦�뒪瑜� �삱�졇�쓣 �븣 �뱶濡��떎�슫 �궡�슜 蹂댁씠湲� */
.dropdown:hover .dropdown-content {
    display: block;
}

.radioButtonStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.radioStyle {
    display: flex;
    align-items: center;
}

.radioStyle [type='radio']{
    display: none;
}

.radioStyle span{
    text-align: center;
    height: auto;
    width:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #ffffff;
    margin:10px;
    padding:15px;
    box-shadow: 3px 3px 10px #dcdcdc;
    border:2px solid #ffffff;
    font-size: 15px;
    font-weight: 700;
}

.radioStyle [type='radio']:checked + span{
    border:2px solid #ff5252;
    background-color: #fff5ee;
} 

.a-button {
    margin:10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #ff5252;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.a-button:hover {
    background-color: #e04848;
}

.apply-count-div {
    display: inline-block;
    margin: 30px 20px auto;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    background-color: #f4f4f4;
}

.apply-count-div div {
    font-weight: bold;
    margin: auto;
    padding:20px;
}

.apply-list table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
}

.apply-list thead {
    background-color: #f4f4f4;
}

.apply-list th, td {
    padding: 10px;
    text-align: left;
}

img {
    width: 25px;
    height: 25px;
}